/* Sector Universal */
*{
    padding: 0 auto;
    margin:0  auto;
}

/* Selector id */
#contenedor{
    height: 1000px;
    width: 1200px;
    background-color:beige;
    max-width: 0 auto;
}

#encabezado{
    height: 10%;
    background-color:rosybrown;
    margin: 1em auto;
}

#menu{
    height: 5%;
    background-color:darkgrey;
    margin: 1em;
}

#seccion{
    width: 61%;
    height: 70%;
    background-color:bisque;
    margin: 0.5em;
    float: left;
}

#fueraSeccion{
    height: 70%;
    width: 36%;
    background-color:darkgrey;
    margin: 0.5em;
    float: right;
}

#pie{
    height: 5% ;
    background-color:rosybrown;
    border-radius: 1em;
    margin: 1.5 em;
}

/* Selector de class */
.texto{

    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.encabezado_articulo{
    text-align: center;
    margin-top: 30px;
    background: #333;
    color:white;
    margin: auto 2em;
}
.imagenes{
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    width: 150px;

}

/* Selector de etiqueta*/
ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    
}